body{
    background-color: rgb(252, 76, 170);
    color: #f7efef;
}

header {
    background-color: gainsboro;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: solid 2px rgb(240, 100, 193);
}