body{
    background-color: deeppink;
    color: #000000;
}

header {
    background-color: gainsboro;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: solid 2px rgb(240, 100, 193);
}