body{
    background-color: rgb(252, 76, 170);
    color: #f7efef;
}

header {
    background-color: rgb(243, 7, 172);
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: solid 2px rgba(250, 39, 180, 0.514);
}

,primeirovideo {
    background-color: azure;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


 .chamadatexto{
    margin-left: 20px;
    margin-left: 10px;
    text-align: justify;
 }
h1{
    font-size: 40px;
    margin-left: 150px;
}

p{
    font-size: 20px;
}